@(directory: String, data: Seq[Seq[Html]], index: Seq[Html], footer: Html, backreference: String)

<link rel="stylesheet" media="screen" href="@backreference@routes.Assets.at("css/templates/simple.css")">
<div class="title">@directory</div>
@if(!data.isEmpty){
<table>
	@if(!data(0).isEmpty){
	<tr>
		@for(header <- data(0)){
		<th>@header</th> }
	</tr>
	}
	<hr />
	@for(row <- data.tail){
	<tr>
		@for(value <- row; if(data(0).length >= row.length)){
		<td>@value</td> } @for(value <- 0 until (data(0).length - row.length)){
		<td></td> }
	</tr>
	}
</table>
}
@if(index.size > 1){
 <div class="nav">
  <table>
    <tr>
      @for(idx <- index){
         <td>@idx</td>
      }     
    </tr>
  </table>
 </div>
}
<div class="footer">@footer</div>
