@(directory: String, data: Seq[Seq[Html]], prev: Option[Html], next: Option[Html], footer: Html, backreference: String) 

<link rel="stylesheet" media="screen" href="@backreference@routes.Assets.at("css/templates/simple.css")">
<div class="title">@directory</div>
@if(!data.isEmpty){
<table>
	@if(!data(0).isEmpty){
	<tr>
		@for(header <- data(0)){
		<th>@header</th> }
	</tr>
	}
	<hr />
	@for(row <- data.tail){
	<tr>
		@for(value <- row; if(data(0).length >= row.length)){
		<td>@value</td> } @for(value <- 0 until (data(0).length - row.length)){
		<td></td> }
	</tr>
	}
</table>
}
<div class="nav">
@prev match {
  case None => {}
  case Some(h) => {<span class="prev">@h</span>}  
}
@next match {
  case None => {}
  case Some(h) => {<span class="next">@h</span>}  
}
</div>
<div class="footer">@footer</div>
