table {
	border: none;
}

th,td {
	border: none;
	text-align: left;
	vertical-align: bottom;
	padding-right: 2px;
}

.file {
	background-image: url('/img/file.gif');
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dir {
	background-image: url('/img/folder.gif');
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.back {
  background-image: url('/img/back.gif');
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

.footer {
	font-size: 12px;
	font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}