body {
	padding-top: 60px;
}

.container-fluid {
	position: relative;
	max-width: 940px;
	padding-left: 20px;
	padding-right: 20px;
	zoom: 1;
	margin: auto;
}

.wizard a {
	padding: 12px 12px 10px 12px;
	margin-right: 5px;
	background: #efefef;
	position: relative;
	display: inline-block;
}

.wizard a:before {
	width: 0px;
	height: 0px;
	border-top: 20px inset transparent;
	border-bottom: 20px inset transparent;
	border-left: 20px solid #fff;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
}

.wizard a:after {
	width: 0px;
	height: 0px;
	border-top: 20px inset transparent;
	border-bottom: 20px inset transparent;
	border-left: 20px solid #efefef;
	position: absolute;
	content: "";
	top: 0;
	right: -20px;
	z-index: 2;
}

.wizard a:first-child:before {
	border: none;
}

.wizard a:last-child:after {
	border: none;
}

.wizard a:first-child {
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.wizard .badge {
	margin: 0 5px 0 18px;
	position: relative;
	top: -1px;
}

.wizard a:first-child .badge {
	margin-left: 0;
}

.wizard .current {
	background: #007ACC;
	color: #fff;
}

.wizard .current:after {
	border-left-color: #007ACC;
}

legend {
	margin-bottom: 10px;
}

select {
	margin-bottom: 0px;
}

.progress {
	margin-bottom: 0px;
	margin-top: 0px;
}

footer {
	float: right;
}

.likes {
	float: right;
	padding-top: 15px;
}

.preview-box {
	border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  max-height: 200px;
  max-width: 300px;
}

.preview-box img {
	max-height: 195px;
  max-width: 290px;
}