@(applicationName: String, applicationDescription: String, brandName: String, brandLink: String, yearUpdated: String)

@main(applicationName, applicationDescription, brandName, brandLink, yearUpdated) {
  @content{
    <p>Amazon S3 could be used to share files. However it lack directory listing capability.</p>
    <p>This small service connects to given S3 bucket and recursively generates index.html files in all sub-folders to allow easy browsing. Generated HTML
    could be customized at the second page of this wizard.</p>
  } {
		<div class="wizard">
			<a href="@routes.Application.generalPropertiesPage" id="wizardPropertiesLink"><span class="badge">1</span> Specify Your Bucket</a>
			<a href="@routes.Application.viewPropertiesPage" id="wizardViewPropertiesLink"><span class="badge">2</span> Set View Properties</a>
			<a href="#" class="current"><span	class="badge badge-inverse">3</span> Generate Index</a>
		</div>
  } {
		<div class="row-fluid">
			<div class="span8">
				<br />
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="progress progress-striped">
				<div id="progressBar" class="bar" style="width: 0%;"></div>
			</div>
			<div id="messageAlert" class="alert alert-info">
				<i id="messageIcon" class="icon-info-sign"></i> <span id="message"></span>
			</div>
		</div>
  }
} {
<script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/s3index.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/spin.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script type="text/javascript">
    $(document).ready(function worker() {
      var done = false;
      $.ajax({
        url : '@routes.Application.status',
        cache : false,
        success : function(response, textStatus, jqXHR) {
          console.log("Resp: " + response + ", json=" + jqXHR.responseText + ", status=" + textStatus);
          if (!processGeneratorStatusResponse(jQuery.parseJSON(jqXHR.responseText))) {
            setTimeout(worker, 5000); // poll every 5 seconds
          }
        },
        error : function(jqXHR, textStatus, errorThrown) {
          $('#messageIcon').attr("class", ' icon-minus-sign')
          $('#messageAlert').attr("class", 'alert alert-error')
          $('#message').replaceWith('<span id="message"> Sorry, we are not able to process you request now. Please come back later.</span>');
        }
      });
    });

    function processGeneratorStatusResponse(status) {
      var isDone = false
      if (status.status == 'info') {
        updateStatus('alert alert-info', 'icon-info-sign', status.message, status.percents)
      } else if (status.status == 'done') {
        if (status.hasOwnProperty('fileId') && status.fileId) {
          var fileUrl = jsRoutes.controllers.Application.getIndex(status.fileId).absoluteURL();
          var message = status.message + '. Your file will be downloaded in a moment. If it won\'t start, please use <a href="' + fileUrl + '">this</a> link.';
          updateStatus('alert alert-success', 'icon-thumbs-up', message, status.percents)
          downloadFile(fileUrl)
        } else {
          updateStatus('alert alert-success', 'icon-thumbs-up', status.message, status.percents)
        }
        isDone = true;
      } else {
        updateStatus('alert alert-error', 'icon-thumbs-down', status.message, status.percents)
        isDone = true;
      }
      return isDone;
    }

    function updateStatus(fieldStatus, iconType, message, percentage) {
      $('#messageAlert').attr("class", fieldStatus);
      $('#messageIcon').attr("class", iconType);
      $('#message').replaceWith('<span id="message">' + message + '</span>');
      $('#progressBar').attr('style', 'width: ' + percentage + '%;');
    }

    function downloadFile(link) {
      window.location = link;
    }
</script>
<iframe id="downloadFrame" style="display: none"></iframe>
}