@(pageTitle: String) 

@main(pageTitle) {
  @content{
		<p>Amazon S3 could be used to share files. However it lack directory listing capability.</p>
		<p>This small service connects to given S3 bucket and recursively generates index.html files in all sub-folders to allow easy browsing. Generated HTML could
			be customized at the second page of this wizard.</p>
  } {
		<div class="wizard">
			<a href="#" id="propertiesPageLink"><span class="badge">1</span> Specify Your Bucket</a>
			<a href="#" class="current"><span class="badge badge-inverse">2</span>Set	View Properties</a>
			<a href="#" id="generatorPageLink"><span class="badge">3</span> Generate Index</a>
		</div>
  } {
		<form id="form">
			<fieldset>
				<legend>Template Properties</legend>
				<label>Select template from drop-down list</label>
				<div class="controls controls-row">
					<select name='template' class="span3">
					</select> 
					<div class="span5 preview-box">
					 <img id='templatePreview'>
					</div>
				</div>
				<label>Select file list format</label>
				<div class="controls controls-row">
					<select name='fileListFormat' class="span3">
					</select>
					<div id="fileListFormatPreview" class="span6 preview-box"></div>
				</div>
		    <hr/>
				
				<div class="control-group">
				  <label>Title</label>
				  <input class="span5" name="title" type="text">
				  
				</div>
        
        <div class="control-group">
          <label>Header</label>
          <textarea name="header" rows="3"  class="span5"></textarea> 
        </div>
        
        <div class="control-group">
          <label>Footer</label>
          <textarea name="footer" rows="3"  class="span5"></textarea>
        </div>
		    <hr/>
				<label>Add custom CSS style</label>
				<div class="control-group">
					<div class="clonable">
						<div class="input-append">
							<input class="span9" id="customCSS" name="customCSS" type="text"> 
							<a class="clonable-remove-button add-on" href="#">&times;</a>
						</div>
						<a href="#" id="addCustomCSSButton" class="clonable-add-button"><i class="icon-plus"></i> Add</a>
					</div>				
				</div>
		
				<hr>
				<a class="btn btn-large" href="#" id="back"><i class="icon-chevron-left"></i> Back</a>
				<button id="go" type="submit" class="btn btn-large btn-primary">Go <i class="icon-ok icon-white"></i></button>
			</fieldset>
		</form>
  }
} {
<script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/s3index.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/spin.min.js")" type="text/javascript"></script>
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  <script type="text/javascript">
      $(document).ready(function() {
        registerClonable();
        registerFormSubmitButton('back', '@routes.Application.properties', '@routes.Application.generalPropertiesPage')
        registerFormSubmitButton('go', '@routes.Application.properties', '@routes.Application.generatorPage')
        registerFormSubmitButton('propertiesPageLink', '@routes.Application.properties', '@routes.Application.generalPropertiesPage')
        registerFormSubmitButton('generatorPageLink', '@routes.Application.properties', '@routes.Application.generatorPage')
        loadProperties('@routes.Application.properties')
      });

      function applyProperties(properties) {
        for (var i in properties.styles) {
          $('select[name="template"]').append('<option>' + properties.styles[i] + '</option>')
        }
        $('select[name="template"]').change(function() {
          var newVal = $(this).val();
          $("#templatePreview").attr('src', jsRoutes.controllers.Application.stylePreview(newVal).absoluteURL());
        });
        for (var key in properties.fileListFormats) {
          $('select[name="fileListFormat"]').append('<option>' + key + '</option>')
        }
        $('select[name="fileListFormat"]').change(function() {
          var newVal = $(this).val();
          $("#fileListFormatPreview").html(properties.fileListFormats[newVal]);
        });
        $('select[name="template"]').val(properties.template)
        $('select[name="template"]').trigger('change');
        $('select[name="fileListFormat"]').val(properties.fileListFormat)
        $('select[name="fileListFormat"]').trigger('change');
        $('input[name="title"]').val(properties.title)
        $('textarea[name="header"]').val(properties.header)
        $('textarea[name="footer"]').val(properties.footer)
        for ( var i in properties.customCSS) {
          $('#addCustomCSSButton').trigger('click');
          $('#customCSS' + i).val(properties.customCSS[i]);
        }
      }
      
    </script>
}
