@(applicationSettings: model.ApplicationSettings)(properties: String)

@import play.api.i18n.Messages

@main(applicationSettings) {
} {
  @content{
    @Html(Messages("left.column.text"))
  } {
		<div class="wizard">
			<a href="@routes.Application.generalPropertiesPage"><span class="badge">1</span> @Messages("wizard.general.properties.page.link.name")</a>
			<a href="@routes.Application.viewPropertiesPage"><span class="badge">2</span> @Messages("wizard.view.properties.page.link.name")</a>
			<a href="#" class="current"><span	class="badge badge-inverse">3</span> @Messages("wizard.final.page.link.name")</a>
		</div>
  } {
		<div class="row-fluid">
			<div class="span8">
				<br />
			</div>
		</div>
		
		<div class="row-fluid">
			<div id="messageAlert" class="alert alert-info" styles: "word-wrap: break-word;">
			<i id="messageIcon" class="icon-info-sign"></i>
			<strong>Your Code:</strong> <br/>
				  Include the JavaScript SDK on your page once, ideally right after the opening &lt;body&gt; tag.
				<pre><code>&lt;script&nbsp;src=&quot;@applicationSettings.backreferenceUrl.toString()/api1&quot;&nbsp;type=&quot;text/javascript&quot;&gt;&lt;/script&gt;&lt;script&gt;(function()&nbsp;{S3Index.init(@properties)}());&lt;/script&gt;</code></pre>
				  Place the code for your index wherever you want the index to appear on your page.
				<pre><code>&lt;div&nbsp;id=&quot;s3index-root&quot;&gt;&lt;/div&gt;</code></pre>
			</div>
		</div>
  }
} {
}