@(applicationSettings: model.ApplicationSettings)(head: Html)(body: Html)(footer: Html)

<!DOCTYPE html>

<html>
<head>
<title>@applicationSettings.applicationName @applicationSettings.applicationDescription</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/jquery-ui-1.10.0.custom.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/s3index.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
<script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/jquery-ui-1.10.0.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/spin.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/s3index.js")" type="text/javascript"></script>
@head
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
			
				 <a class="brand" href="@applicationSettings.brandLink"><img src="@routes.Assets.at("img/logo-20x20.png")"/> @applicationSettings.applicationName</a>
				 
				 <ul class="nav">
					 <li><a href="@applicationSettings.aboutBrandLink">About Us</a></li>
					 <li><a href="@applicationSettings.contactBrandLink">Contact Us</a></li>
				 </ul>
				
				 <!-- Likes -->
         <ul class="like nav">
           <li> <!-- Google+ Like -->
		         <div class="g-plusone" data-size="medium" data-href="@applicationSettings.backreferenceUrl.toString()"></div>
		         <script type="text/javascript">
		           (function() {
		             var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		             po.src = 'https://apis.google.com/js/plusone.js';
		             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		           })();
		         </script>     
           </li>
           <li> <!-- FC Like -->
		         <div id="fb-root"></div>
		         <script>(function(d, s, id) {
		           var js, fjs = d.getElementsByTagName(s)[0];
		           if (d.getElementById(id)) return;
		           js = d.createElement(s); js.id = id;
		           js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		           fjs.parentNode.insertBefore(js, fjs);
		         }(document, 'script', 'facebook-jssdk'));</script>
		         <div class="fb-like" data-href="@applicationSettings.backreferenceUrl.toString()" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="tahoma" data-colorscheme="dark" data-action="recommend"></div>
           </li>
          </ul>
          
		  </div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			@body
		</div>
		<div class="row-fluid">
		  <hr/>
		  <footer>
            <p>&copy; @applicationSettings.brandName @applicationSettings.yearUpdated</p>
      </footer>
		</div>
	</div>	
</body>
@footer
</html>
