@(applicationName: String, applicationDescription: String, brandName: String, brandLink: String, yearUpdated: String)

@main(applicationName, applicationDescription, brandName, brandLink, yearUpdated) {
<div id="s3index-root" indexid="eJxVyrEKgCAYReF3ubNbmw/QErQ0RoPZDaRfi1QwonfPxrZz4LuxOmFc99ObBI02i0DBm9LxitCNggtW8sL60OOkkOgPMYlVD64mq2f5mznbjak3/lOxcWFhwfMC82wk7A=="></div>
<script src="@routes.Assets.at("/js/api.js")" type="text/javascript"></script><script>(function() {S3Index.load()}());</script>
} {
}
